<p>It's your monthly digest! Here are the things that happened last month:</p>

<% @items.each do |item| %>
    <%= render partial: "mailers/#{item.item_type}", locals: { item: item } %>
<% end %>

<p>Email footer!</p>