<%
@claim = Claim.find(item.claim_id)

if @claim.vote_value >= 0.5
    @status = 'TRUE'
else
    @status = 'FALSE'
end
%>

<p>The claim you're following, '<%= @claim.title %>', has just been marked as <strong><%= @status %></strong> by the community. We thought you'd like to know.</p>