<%
@expert = Expert.find(item.expert_id)
@comment = Comment.find(item.comment_id)
@commenter = User.find(@comment.user_id)
%>
A new comment on <%= @expert.name %> has been left by <%= @commenter.email %>:

<p>
<% if !@comment.title.nil? %>Title: <strong><%= @comment.title %></strong><br/><% end %>
<%= @comment.content %>
</p>